<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Messages : <br>
    {% for message in list %}
        Message from : {{ message.from_user }} :<br>
        {{message.sent_at }} <br>
        {{ message.message_content }} <br><br>
    {% endfor %} <br>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="message">
        <input type="submit" value="send">
    </form>
</body>
</html>